@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@layer base {
  :root {
    --background: 240 10% 3.9%;
    --foreground: 60 9.1% 97.8%;
    --card: 0 0% 3.9%;
    --card-foreground: 60 9.1% 97.8%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 60 9.1% 97.8%;
    --primary: 240 3.7% 15.9%;
    --primary-foreground: 60 9.1% 97.8%;
    --secondary: 12 6.5% 15.1%;
    --secondary-foreground: 60 9.1% 97.8%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 24 5.4% 63.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 60 9.1% 97.8%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 240 5.3% 26.1%;
    --input: 12 6.5% 15.1%;
    --ring: 215 13.8% 34.1%;
    --radius: 0.5rem;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-ring: 240 3.7% 15.9%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 60 9.1% 97.8%;

    --muted-rgb: #27272a80;
    --gray-rgb: #1a1a20;
    --background-rgb: #23232a;
    --border-rgb: #3f3f46;
    --blue-rgb: #7db4e8;
  }

  .dark {
    --background: 0 0% 100%;
    --foreground: 20 14.3% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 20 14.3% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 20 14.3% 4.1%;
    --primary: 47.9 95.8% 53.1%;
    --primary-foreground: 26 83.3% 14.1%;
    --secondary: 60 4.8% 95.9%;
    --secondary-foreground: 24 9.8% 10%;
    --muted: 60 4.8% 95.9%;
    --muted-foreground: 25 5.3% 44.7%;
    --accent: 60 4.8% 95.9%;
    --accent-foreground: 24 9.8% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 20 5.9% 90%;
    --input: 20 5.9% 90%;
    --ring: 20 14.3% 4.1%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --sidebar-background: 240 5.3% 26.1%;
  }
}

.smart-kanban {
  width: 100% !important;
  height: 680px !important;
  max-height: 680px !important;
}

#kanbanPriorityList {
  color: #1a1a20 !important;
}

.smart-kanban-task-description {
  color: #1a1a20 !important;
}

a#watermark {
  display: none !important;
}

.react-kanban-board {
  padding: 1rem 0 !important;
}

.smart-kanban-task-user {
  display: none !important;
}

.smart-kanban.smart-kanban-column-color .smart-kanban-column:not(.smart-kanban-add-new-column) .smart-kanban-column-header {
  background-color: var(--smart-ui-state-hover) !important;
}

.smart-element {
  background-color: transparent !important;
}

.smart-kanban .smart-kanban-task[selected] {
  background-color: var(--smart-background) !important;
}

.smart-kanban-task {
  border-radius: 6px !important;
}

.smart-kanban-column[data-field="new"] .smart-kanban-task {
  border-left: 4px solid orange;
}

.smart-kanban-column[data-field="proposed"] .smart-kanban-task {
  border-left: 4px solid blue;
}

.smart-kanban-column[data-field="assigned"] .smart-kanban-task {
  border-left: 4px solid green;
}

.smart-kanban-column[data-field="completed"] .smart-kanban-task {
  border-left: 4px solid gray;
}

.smart-kanban .smart-kanban-column-content-tasks .smart-kanban-task[focus] {
  box-shadow: none !important;
}

.custom-task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  border-radius: 4px;
}

.task-title {
  font-weight: bold;
  flex-grow: 1;
}

.quote-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 6px 10px;
  border-radius: 4px;
  cursor: pointer;
}

.quote-button:hover {
  background-color: #0056b3;
}



@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}